extends layout

block content
    .container
        h1.display-3.text-center About Us        
        p This is a template for a simple marketing or informational website. 
            | It includes a large callout called a jumbotron and three supporting pieces of content. 
            | Use it as a starting point to create something more unique.
        ul
            li starting point to create
            li includes a large callout
            li template for a simple
        p This is a template for a simple marketing or informational website. 
            | It includes a large callout called a jumbotron and three supporting pieces of content. 
            | Use it as a starting point to create something more unique.
            | This is a template for a simple marketing or informational website. 
            | It includes a large callout called a jumbotron and three supporting pieces of content. 
            | Use it as a starting point to create something more unique.
    br