doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{title}: Express JS Website
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='/') Express Website
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon     
        #navbarsExampleDefault.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/') Home 
                span.sr-only (current)   
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/contact') Contact
    block content

    hr
    footer.container
      p.text-center Ibrahim Hamed &copy; Hamham 2018-2019

    //Bootstrap core JavaScript
    script(src='/javascripts/jquery-slim.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')